* {
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*페이지 전체*/

h1 {
    margin-bottom: 50px;
}
/*제목*/

.item {
    margin-right: 100px;
}
.item1{
    font-size: 17px;
    font-weight: inherit;
    margin-top: 40px;
}
.item2{
    font-size: 17px;
    font-weight: bold;
    margin-top: 40px;
}
.item3, .item4{
    font-size: 17px;
    font-weight: bold;
    margin-top: 70px;
}
/*항목*/

.container_box{
    display: flex;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
     color: black;
     font-weight: bold;
     flex-direction: column;
     align-items: center;
     border: 10px solid #172;
     text-decoration: none;
     margin-top: 70px;
     display: flex;
    }

span {
    margin-top: 0px;
    background: limegreen;
}

img{
    width: 70px;
    height: 70px;
    }

img:hover{
    transform: scale(2);
}

button {
    position: relative;
    left: 400px;
    width: 200px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}

input {
    width: 120px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}
/*입력칸*/

