* {
    box-sizing: border-box;
  }


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

li{list-style: none;}

h1 {
    margin-bottom: 30px;
}

.purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{font-size: 25px;
font-weight: bold;}

.container {
    width: 500px;
    height: 200px;
    border: 10px solid #172;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   }

li{
    display: flex;
    margin: 5px 0;
}

.button{
    position: relative;
    left: 275px;
    margin: 30px;
}

button {
    margin-top: 30px;
    width: 150px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

